<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= hour>=6&&hour<=18?'/css/day.css':'/css/night.css'%>" rel="styleheet"/>
    <title>Document</title>
</head>
<body>
   <p>the time is :<%= time %> and hour is <%=hour %></p> 
    
</body>
</html>