*{
    box-sizing: border-box;
    padding: 0;

}
.header
{
    text-align: center;
    padding: 15px;
    background-color:powderblue;
    grid-area: header;
}
.nav
{
  display: flex;
  background-color: darkslategrey;
  color: white;
  flex-direction: row;
  padding: 0;
  grid-area: nav;
  
}
nav>p{

    margin: 0;
    padding: 10px;
    border-right: solid black 1px;
    text-align: center;
}

.container
{
   display: flex;

}
.column1
{
    background-color:lightslategray;
    
    flex-flow: wrap;
    height: 210px;
    flex-grow: 1;
    order: 1;
    grid-area: column1;
    

}
.column2
{
    background-color: darkgray;
    height: 210px;
    flex-grow: 2;
    order: 2;
    grid-area: column2;
   
}

.column3
{
    background-color: lightgray;
    height: 210px;
    flex-grow: 1;
    order: 3;
    grid-area: column3;
}
p
{
    padding: 5px;
}
footer
{
    text-align: center;
    padding: 15px;
    color: white;
    background-color: darkslategrey;
    height: 20px;
}

.body
{ 
    display: grid;
    
}