<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookies</title>

    <style>
        table,tr,td{
            border: solid 1px black;
        }
        table{
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <form method="POST" action="/">
        <input type="text" name="name"/>
        <input type="text" name="value"/>
        <input type="submit" value="Add"/>
    </form>

    <table>
        <tr>
            <th>name</th>
            <th>value</th>
        </tr>
        <% for(let i in cookie) {%>
            <tr>
            <td><%= i%></td>
            <td><%= cookie[i]%></td>
        </tr>
        <%}%>
    </table>
</body>
</html>